@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "VT323", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('darkBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

#box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(10px);
}

span {
    font-size: 60px;
    padding: 10px;
}

#ampm {
    font-size: 40px;
    padding: 30px;
}

#day {
    width: 100%;
    ;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}

p {
    opacity: 0.2;
}

@media screen and (max-width : 510px) {

    #day {
        gap: 30px;
    }

    span {
        font-size: 40px;
        padding: 10px;
    }
    #ampm {
        font-size: 20px;
        padding: 10px;
    }
}
@media screen and (max-width : 280px) {

    #day {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 60px;
    }

    span {
        font-size: 30px;
        padding: 7px;
    }
    #ampm {
        font-size: 20px;
        padding: 5px;
    }
}